@model MvcHomeWork1.客戶聯絡人

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>客戶聯絡人</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.客戶Id, "客戶資料")
        </div>
        <div class="editor-field">
            @Html.DropDownList("客戶Id", String.Empty)
            @Html.ValidationMessageFor(model => model.客戶Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.職稱)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.職稱)
            @Html.ValidationMessageFor(model => model.職稱)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.姓名)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.姓名)
            @Html.ValidationMessageFor(model => model.姓名)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.手機)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.手機)
            @Html.ValidationMessageFor(model => model.手機)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.電話)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.電話)
            @Html.ValidationMessageFor(model => model.電話)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
