@model MvcHomeWork1.客戶資料

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>客戶資料</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.客戶名稱)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.客戶名稱)
            @Html.ValidationMessageFor(model => model.客戶名稱)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.統一編號)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.統一編號)
            @Html.ValidationMessageFor(model => model.統一編號)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.電話)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.電話)
            @Html.ValidationMessageFor(model => model.電話)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.傳真)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.傳真)
            @Html.ValidationMessageFor(model => model.傳真)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.地址)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.地址)
            @Html.ValidationMessageFor(model => model.地址)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
